



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: #000;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.box{
    background: #fff;
    width: 20vw;
    height: 20vw;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}